@charset "utf-8";

/* CSS Document */


/*---------public-------------*/

html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei", 微软雅黑, SimHei, "黑体", SimSun, "宋体", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
  background: #fff;
}

img {
  display: inline-block;
  vertical-align: top;
  border: 0 none;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
}

button {
  cursor: pointer;
  border: 0 none;
}

input {
  background: transparent;
  border: 0 none;
}

textarea {
  border: 0 none;
  resize: none;
}

ul, li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

i, em, cite {
  font-style: normal;
}

p {
  word-wrap: break-word;
}

.fixed:after {
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  line-height: 0;
  content: '.';
  visibility: hidden;
}

.fixed {
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

body, input, select, button, textarea {
  outline: none;
}

a, input, textarea, p, span, h2, em, li, div {
  text-decoration: none;
  outline: none;
}

a:focus, textarea:focus, input:focus {
  outline: none;
}

input, textarea {
  font-family: "Microsoft YaHei";
}


/**/

.main {
  width: 100%;
  background-color: #e9edf6;
}

.search_header {
  width: 100%;
  min-height: 450px;
  background-color: #f8fcfd;
  box-shadow: 0 5px 0 ragb(0, 0, 0, 0.4);
}

.s_information, .s_informations {
  width: 96%;
  min-height: 50px;
  margin: 0 auto;
  border-bottom: 2px dashed #d6d7d9;
}

.s_information span, .s_informations span {
  font-size: 14px;
  color: #545655;
  float: left;
  line-height: 50px;
}

.s_information ul, .s_informations ul {
  float: left;
}

.s_information ul li, .s_informations ul li {
  font-size: 14px;
  color: #545655;
  float: left;
  line-height: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.s_informations ul li a {
  color: #000;
}

.s_informations.active {
  border: 2px solid #edd28b
}

.s_information ul li.on {
  color: #06d8bb;
}

.s_informations ul li.on a {
  color: #06d8bb;
}

.serch_list {
  width: 100px;
  height: 33px;
  background-color: #06d8bb;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  margin: 20px auto 0;
  font-size: 14px;
}

.search_address {
  margin-left: 10px;
  float: left;
}

.search_address select {
  width: 120px;
  height: 32px;
  margin-top: 9px;
}

.search_time {
  float: left;
  margin-left: 8px;
}

.serch_gao {
  float: left;
  margin-left: 10px;
}

.serch_gao select {
  width: 120px;
  height: 32px;
  margin-top: 9px;
  margin-left: 6px;
}

.search_time input {
  width: 206px;
  height: 32px;
  border: 1px solid #cccccc;
  float: left;
  margin-top: 8px;
  margin-left: 4px;
  padding-left: 4px;
}

.search_time span {
  float: left;
}

.s_information label {
  float: left;
  margin-left: 10px;
}

.s_information label:first-child {
  margin-left: 0px;
}

.s_information label em {
  font-size: 14px;
  color: #545655;
  float: left;
  line-height: 50px;
}

.s_information label input {
  width: 206px;
  height: 32px;
  border: 1px solid #cccccc;
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  padding-left: 4px;
}

.serch_duoxuan {
  float: right;
  width: 50px;
  height: 30px;
  color: #343233;
  display: block;
  background-color: #e9edf6;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
}

.search_true {
  height: 30px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
}

.search_true a {
  display: inline-block;
  line-height: 14px;
  height: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 10px;
}

.search_true .a {
  background-color: #E74649;
  color: #fff;
  padding: 5px 15px 6px;
  margin-right: 10px;
}

.search_true .b {
  background-color: #f7f7f7;
  color: #666;
  border: 1px solid #DDD;
  padding: 4px 13px 5px;
}

.context_box{
  width: 100%;
  margin: 40px auto 0;
  min-height: 120px;
  background-color: #f8fcfd;
}
.context_echar{
  width: 100%;
  margin: 40px auto 0;
  min-height: 120px;

}
.context_head {
  width: 100%;
  min-height: 50px;
  background-color: #06d8bb;
}

.context_head p {
  width: 96%;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
}

.context_head span {
  font-size: 14px;
}
.context_function{
  width: 96%;
  margin: 10px auto 0;
}
.context_function .li_quan, .context_function .li_delete {
  width: 50px;
  height: 30px;
  background-color: #06d8bb;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.context_function .li_quan {
  background-color: #06d8bb;
}

.context_function .li_delete {
  background-color: #e43434;
  margin-left: 20px;
}
.context_function  labe{
  margin-left:15px;
}
.context_function  labe em{
  font-size: 14px;
  color:#000;
}
.context_function  labe select{
  width: 160px;
  height: 32px;
  margin-left:10px;
}
.context_box ul{
  width:96%;
  margin:0 auto;

}
.context_box ul li{
  width: 96%;
  min-height: 100px;
  margin-top: 20px;
}
.context_box ul li .a{
  float:left;
}
.context_box ul li .a em{
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url('../image/ico_1.png') no-repeat scroll center center;
}
.context_box ul li.on .a em{
    background: url('../image/ico_2.png') no-repeat scroll center center;
}
.context_box ul li .a span{
  width: 31px;
  height: 20px;
  display: inline-block;
  background-color: #0094e8;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  color:#fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-left: 10px;
}
.context_box ul li .b{
  width: 90%;
  float:left;
  margin-left: 30px;
}
.context_box ul li .b .first{
    font-size: 15px;
    color:#569be8;
}
.context_box ul li.negative .b .first{

    color:#e63636;
}
.context_box ul li .b .second{
  font-size: 14px;
  color:#7e7e80;
  margin-top: 15px;
  overflow:hidden; /*超出的部分隐藏起来。*/
  white-space:nowrap;/*不显示的地方用省略号...代替*/
  text-overflow:ellipsis;/* 支持 IE */
}
.context_box ul li .b .three{
  margin-top: 15px;
}
.context_box ul li .b .three em{
    font-size: 14px;
    font-size: 14px;
    color:#7e7e80;
}
.context_box ul li .b .three span{
  font-size: 14px;
  color:#569be8;
  margin-left:12px;
}
.context_box ul li.negative .b .three span{
  color:#e63636;
}
.context_box ul li .b .three p{
    float:right;
}
.context_box ul li .b .three p a{
  font-size: 14px;
  padding-left: 11px;
  padding-right: 11px;
  color:#898788;
  border-left: 2px solid #898788;
}
/*分页按钮*/
.M-box, .M-box1, .M-box2, .M-box3, .M-box4 {
  position: relative;
  text-align: center;
	zoom: 1;
  float:right;
  }

.M-box:before, .M-box:after, .M-box1:before, .M-box1:after, .M-box2:before, .M-box2:after, .M-box3:before, .M-box3:after, .M-box4:before, .M-box4:after {
  content: "";
  display: table;
}

.M-box:after, .M-box1:after, .M-box2:after, .M-box3:after, .M-box4:after {
  clear: both;
  overflow: hidden;
}

.M-box span, .M-box1 span, .M-box2 span, .M-box3 span, .M-box4 span {
  display: inline-block;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #bdbdbd;
  font-size: 14px;
}

.M-box .active, .M-box1 .active, .M-box2 .active, .M-box3 .active, .M-box4 .active {
  display: inline-block;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #1fb5ad;
  color: #fff;
  font-size: 14px;
  border: 1px solid #e5e5e5;
}

.M-box a, .M-box1 a, .M-box2 a, .M-box3 a, .M-box4 a {
  display: inline-block;
  margin: 0 5px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background: #fff;
  border: 1px solid #e5e5e5;
  color: #000;
  font-size: 14px;
}

.M-box a.t, .M-box1 a.t, .M-box2 a.t, .M-box3 a.t, .M-box4 a.t {
  width: 60px;
}

.M-box a.next, .M-box1 a.next, .M-box2 a.next, .M-box3 a.next, .M-box4 a.next {
  width: 60px;
}

.M-box a.prev, .M-box1 a.prev, .M-box2 a.prev, .M-box3 a.prev, .M-box4 a.prev {
  width: 60px;
}

.M-box a:hover, .M-box1 a:hover, .M-box2 a:hover, .M-box3 a:hover, .M-box4 a:hover {
  color: #fff;
  background: #1fb5ad;
}
.now, .count {
  padding: 0 5px;
  color: #000;
}
.eg img {
  max-width: 800px;
  min-height: 500px;
}
.context_echar .echar{
    margin-top: 40px;
}
.context_echar .echar li{
  width: 32%;
  height: 460px;
  background-color: #f8fcfd;
  float:left;
}
.context_echar .echar li:nth-child(2){
  margin-left: 2%;
  margin-right: 2%;
}
.context_echar .echar li .title{
    width: 100%;
    height: 50px;
    background-color: #46dcd0;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    border-radius:4px;
    text-align: center;
}
.context_echar .echar li .title em{
  text-align: center;
  line-height: 50px;
  color:#fff;
  font-size:16px;
  font-weight: bold;
}
.context_echar .echar li .title a{
  text-align: center;
  line-height: 50px;
  color:#fff;
  font-size:14px;

}
.context_echar .echar li .title  div{
  float:right;
  margin-right: 20px;
}
.context_echar .echar li .title  div .echar_btn,.context_echar .echar li .title  div .echar_btn1{
  width: 18px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}
.context_echar .echar li .title  div .echar_btn{
      background:url('../image/ico_3.png') no-repeat scroll center center;
}
.context_echar .echar li .title  div .echar_btn1{
    background:url('../image/ico_4.png') no-repeat scroll center center;
}
.roundcake_infor{
  width: 100%;
  min-height: 400px;
}
.suqiu_data{
  margin-top:20px;
}
.suqiu_data div.fz{
  width: 22%;
  height: 74px;
  float:left;
  margin-left: 4%;
  background-color: #fff;
}
.suqiu_data div.fz span{
    width: 100px;
    height: 74px;
    display: inline-block;
    float:left;
}
.suqiu_data div.first{
  margin-left: 0%;
}

.suqiu_data div.first span{
  background:url('../image/ico_6.png') no-repeat scroll center center #f1aa50;
}
.suqiu_data div.second span{
  background:url('../image/ico_7.png') no-repeat scroll center center #06d8bb;
}
.suqiu_data div.tree span{
  background:url('../image/ico_8.png') no-repeat scroll center center #0094e6;
}
.suqiu_data div.four span{
  background:url('../image/ico_9.png') no-repeat scroll center center #e63636;
}
.suqiu_data .fz div{
    float:left;
    margin-left: 20px;
}
.suqiu_data .fz div p{
  font-size: 18px;
  color:#61635c;
  font-weight: bold;
  margin-top: 15px;
}
.suqiu_data .fz div em{
  color:#373838;
  font-size: 12px;
  margin-top: 8px;
}
.context_echar .echar li table{
    width: 80%;
    margin: 20px auto 0;
    border:1px solid #f4f0f1;
}
.context_echar .echar li table th{
  line-height: 30px;
  text-align: center;
  line-height: 30px;
  border:1px solid #f4f0f1;
}
.context_echar .echar li table tr{
  border:1px solid #f4f0f1;
}
.context_echar .echar li table tr td{
  height: 30px;
  text-align: center;
  line-height: 30px;
  border:1px solid #f4f0f1;
}
.data_infor{
  width: 96%;
  margin:0 auto;
}
.data_infor div{
  height: 49px;
  border-bottom:1px dashed #cbccce;
}
.data_infor div em{
  width: 16px;
  height: 16px;
  margin-top: 16px;
  float:left;
  display: inline-block;
  background-color: #0192e5;
  color:#fff;
  text-align: center;
  line-height: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.data_infor div span{
    width: 80%;
    display: inline-block;
    margin-top: 16px;
    color:#818183;
    margin-left: 10px;
    float:left;
    overflow:hidden; /*超出的部分隐藏起来。*/
    white-space:nowrap;/*不显示的地方用省略号...代替*/
    text-overflow:ellipsis;/* 支持 IE */
}
.hear_nave{
  width: 100%;
  height: 70px;
  background-color: #4d4d4d;
}
.hear_nave span{
  color:#fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 70px;
  margin-left: 20px;;
}
.hear_nave ul{
  float:right;
  margin-right: 40px;
}
.hear_nave ul li{
  width: 100px;
  float:left;
  color:#fff;
  font-size: 16px;
  line-height: 70px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.hear_nave ul li.active{
  background-color: #3d3d3d;
}
.iframHtml{
  width: 100%;
  border: 0px solid #000;
}


.maintime{
	width: 1275px;
	
}
.maintime .timebox{
	
}

.maintime  .context .left{
		float:left;
}
.maintime  .context .left div{
	
}
.maintime  .context .left div{
	margin-top: 5px;
}
.maintime  .context .left div img{
		width: 45px;
    height: 15px;
		margin-left: 5px;
		float: left;
		display: inline-block;
}
.maintime  .context .left div span{
		float:left;
		padding-top: 5px;
		display: inline-block;
		margin-left:5px;
}
.maintime  .context .right{
		float: right;
		margin-right:4px;
		
}
.maintime  .context .right p.a{
		font-size: 15px;
		padding-top: 30px;
}
.maintime  .context .right p.b{
	padding-top: 10px;
}
.maintime ul li{
	float:left;
	width:150px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	
}
.maintime ul li:last-child{
	border-right:1px solid #ccc ;
}
.maintime ul li p{
	text-align: center;
	line-height: 40px;
	color:#666666;
	font-size: 20px;
}

.head{
	
	    width: 1056px;
	    height: 30px;
	    border:1px solid #ccc;
	
}
